<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bluetooth.pRain"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <!--<android:uses-permission-->
        <!--android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
        <!--android:maxSdkVersion="18" />-->
    <!--<android:uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<android:uses-permission-->
        <!--android:name="android.permission.READ_EXTERNAL_STORAGE"-->
        <!--android:maxSdkVersion="18" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.bluetooth.pRain.PmonActivity"
            android:label="@string/title_activity_hrdemo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="org.bluetooth.pRain.ScanningActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

        </activity>
        <service
            android:name=".pRainService"
            android:enabled="true"
          >
        </service>
    </application>

</manifest>
